<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnilink.delivery.mapper.SysUserinfoMapper">
  <resultMap id="BaseResultMap" type="com.cnilink.delivery.entity.SysUserinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sys_role_id" jdbcType="INTEGER" property="sysRoleId" />
    <result column="live" jdbcType="INTEGER" property="live" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, password, name, sex, phone, email, sys_role_id, live
  </sql>
  
  <!-- 查询条件 -->
  	<sql id="query_ui_where">
		<if test="account !=null and account != '' ">
			and account = #{account}
		</if>
  	</sql>
  
  <!-- 查询所有用户 -->
  <select id="findByAll" parameterType="com.cnilink.delivery.entity.SysUserinfo" resultMap="BaseResultMap">
    select * from sys_userinfo 
    where 1 = 1
    <include refid="query_ui_where" />
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_userinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cnilink.delivery.entity.SysUserinfo">
    insert into sys_userinfo (id, account, password, 
      name, sex, phone, email, 
      sys_role_id, live)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{sysRoleId,jdbcType=INTEGER}, #{live,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cnilink.delivery.entity.SysUserinfo">
    insert into sys_userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="sysRoleId != null">
        sys_role_id,
      </if>
      <if test="live != null">
        live,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sysRoleId != null">
        #{sysRoleId,jdbcType=INTEGER},
      </if>
      <if test="live != null">
        #{live,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cnilink.delivery.entity.SysUserinfo">
    update sys_userinfo
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sysRoleId != null">
        sys_role_id = #{sysRoleId,jdbcType=INTEGER},
      </if>
      <if test="live != null">
        live = #{live,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cnilink.delivery.entity.SysUserinfo">
    update sys_userinfo
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sys_role_id = #{sysRoleId,jdbcType=INTEGER},
      live = #{live,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>